<?xml version="1.0"?>
<robot name="base" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="base" params="base_name size_x size_y size_z">
    <link name="${base_name}">
      <visual>
        <geometry>
          <box size="${size_x} ${size_y} ${size_z}"/>
        </geometry>
	<origin rpy="0 0 0" xyz="0 0 0"/>
      </visual>
    </link>
  </xacro:macro>

  <xacro:base base_name="base1" size_x="3.75" size_y="2" size_z="0.1" />
  <xacro:base base_name="base2" size_x="1.7" size_y="1.9" size_z="0.4" />
  <xacro:base base_name="base3" size_x="3.75" size_y="0.05" size_z="0.4" />
  <xacro:base base_name="base4" size_x="3.75" size_y="0.05" size_z="0.4" />
  <xacro:base base_name="base5" size_x="0.05" size_y="2" size_z="0.4" />

  <xacro:macro name="base_joint" params="base_2 x y z">
    <joint name="base1_to_${base_2}" type="fixed">
      <parent link="base1"/>
      <child link="${base_2}"/>
      <origin xyz="${x} ${y} ${z}" />
    </joint>
  </xacro:macro>

  <xacro:base_joint base_2="base2" x="-1.025" y="0" z="0.25" />
  <xacro:base_joint base_2="base3" x="0" y="0.975" z="0.25" />
  <xacro:base_joint base_2="base4" x="0" y="-0.975" z="0.25" />
  <xacro:base_joint base_2="base5" x="1.85" y="0" z="0.25" />

</robot>
